---
layout: base
---

<h1>11ty WebC Quiz Component</h1>

{% renderTemplate "webc" %}
<web-quiz @legend="Question?">
  <answer slot="a" label="Laudantium esse distinctio mollitia beatae neque quas officia" name="question"></answer>
  <answer slot="b" label="Cupiditate praesentium repudiandae deleniti" name="question"></answer>
  <answer slot="c" label="Necessitatibus sequi earum illum" name="question"></answer>
</web-quiz>
{% endrenderTemplate %}
