---
layout: base
---

<h1>11ty WebC Quiz Component</h1>

{% renderTemplate "webc" %}
<web-quiz legend="Question?">
  <answer slot="a" label="Option A" name="question"></answer>
  <answer slot="b" label="Option B" name="question"></answer>
</web-quiz>
{% endrenderTemplate %}
